$color-primary:  #20a9ff;
$color-primary-light:  #2998ff;
$color-primary-dark:  #5643fa;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7731;

$color-tertiary-light:  #7ed56f;
$color-tertiary-dark:  #28b485;

$color-grey-dark: #777;
$color-grey-darker: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;
$font-size-small: 1.2rem;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;